<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="pp2.png" color="#111">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Pet Vitória</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/fa7c25d18c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="indexcss.css" media="screen" />

</head>

<body>
    <!--Login-->
    <div class="container">
        <div style="width: 100%; margin-top: auto; margin-bottom: auto;">
            <div class="content">

                <image src="/pp.png" class="imglogin"></image>
                <div class="first-content">
                    <div class="first-content-align">
                        <div class="titles">
                            <h2 class="formtitle textform">PET </h2>
                            <h2 class="formtitle2">Vitória</h2>

                        </div>
                        <div>
                            <p class="pfirst-content">Comércio de Rações & Banho e Tosa.</p>
                        </div>
                    </div>
                </div>
                <div class="second-content">
                    <div class="second-content-body">
                        <div class="titlelogins">
                            <h1 class="h1login form">Login</h1>
                            <p class="textlogin form">Entre com um usuário e senha para acessar o sistema.</p>
                        </div>
                        <div class="bodylogins"
                            style="display: flex; flex-direction: column; align-items: center;">
                            <div class="setmaxheight">
                                <form class="form">
                                    <div class="divinput">
                                        <label for="" class="labelinput">
                                            <i class="fas fa-user iinput"></i>
                                            <input type="text" class="forminput itemsform"
                                                v-model="login.select.fields.login.value" id="login"
                                                placeholder="Usuário">
                                        </label>
                                        <label for="" class="labelinput">
                                            <i class="fas fa-lock iinput"></i>
                                            <input type="password" class="forminput itemsform si"
                                                v-model="login.select.fields.login.senha" id="senha"
                                                placeholder="Senha">
                                        </label>
                                    </div>
                                    <button type="button" onclick="logando()" class="itemsform btnlogin">Entrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <p class="footertext">Copyright reserved - Victor Limão Developer &copy; </p>
            </div>
        </div>
    </div>
    <script>

        function logando() {
            var Apppath = '/PETSHOP';
            var login = document.getElementById("login").value;
            var senha = document.getElementById("senha").value;

            var data = new Date();

            var dia = data.getDate();
            var mes = data.getMonth();
            var ano = data.getFullYear();
            var dds = data.getDay();
            var hora = data.getHours();
            var minuto = data.getMinutes();
            var segundo = data.getSeconds();

            if (dia < 10) dia = "0" + dia;
            if (mes < 10) mes = "0" + mes;
            if (hora < 10) hora = "0" + hora;
            if (minuto < 10) minuto = "0" + minuto;
            if (segundo < 10) segundo = "0" + segundo;
            if (dds == 0) dds = "Sun";
            if (dds == 1) dds = "Mon";
            if (dds == 2) dds = "Tue";
            if (dds == 3) dds = "Wed";
            if (dds == 4) dds = "Thu";
            if (dds == 5) dds = "Fri";
            if (dds == 6) dds = "Sat";
            if (mes == 0) mes = "Jan";
            if (mes == 1) mes = "Feb";
            if (mes == 2) mes = "Mar";
            if (mes == 3) mes = "Apr";
            if (mes == 4) mes = "May";
            if (mes == 5) mes = "Jun";
            if (mes == 6) mes = "Jul";
            if (mes == 7) mes = "Aug";
            if (mes == 8) mes = "Set";
            if (mes == 9) mes = "Oct";
            if (mes == 10) mes = "Nov";
            if (mes == 11) mes = "Dec";
            if (hora == 25) hora = 01;
            if (hora == 26) hora = 02;
            if (hora == 27) hora = 03;
            minuto = parseFloat(minuto) + 1;
            hora = parseFloat(hora) + 11;
            if (minuto < 10) minuto = "0" + minuto;
            if (hora < 10) hora = "0" + hora;

            var dataconvert = dds + ", " + dia + " " + mes + " " + ano + " " + hora + ":" + minuto + ":" + segundo + ""

            //username=victorlimao; expires=Wed, 22 Jul 2020 12:42:00; path=/
            //"username=" + acessologin[0].usuario + ";  path=/;"


            var acessologin = [];

            firebase.database().ref(Apppath + '/admin').on('value', function (data) {

                var concatenandologin = new RegExp(login);
                var concatenandosenha = new RegExp(senha);
                //console.log(concatenando);
                data.forEach(function (item) {
                    var abertura = item.val();
                    abertura.key = item.key;
                    var arrayteste = {
                        "key": abertura.key,
                        aberturadecaixa: [
                            abertura
                        ]
                    };

                    if (arrayteste.aberturadecaixa[0].usuario.match(concatenandologin) && arrayteste.aberturadecaixa[0].senha.match(concatenandosenha)) {

                        acessologin.push(abertura);
                        //console.log(acessologin);


                    }

                })
                if (acessologin[0].usuario == login && acessologin[0].senha == senha) {

                    document.cookie = "username=" + acessologin[0].usuario + "; expires=" + dataconvert + " UTC; path=/";
                    window.location.href = "/"
                    //alert(document.cookie);
                }
                else if (acessologin[0].usuario != login || acessologin[0].senha != senha) {
                    alert("Usuário e/ou senha inválido(s).")
                    document.getElementById("login").value = "";
                    document.getElementById("senha").value = ""
                }
            })

        }
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <!-- VueJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-database.js"></script>


    <!--API CEP-->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

    <script>
        var config = {
            apiKey: "AIzaSyAbjq9WT60PjchcQcnVRlVKDGQQgxWsBmY",
            authDomain: "fir-app-1868c.firebaseapp.com",
            databaseURL: "https://fir-app-1868c.firebaseio.com",
            projectId: "fir-app-1868c",
            storageBucket: "fir-app-1868c.appspot.com",
            messagingSenderId: "517211514277"
        };
        firebase.initializeApp(config);
    </script>

</body>


</html>